{% extends 'base.html' %}
{% load static %}

{% block main_content %}


  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{% static 'assets/img/logo.png' %}" alt="">
        <span class="d-none d-lg-block">NiceAdmin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Lorem Ipsum</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Atque rerum nesciunt</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Sit rerum fuga</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Dicta reprehenderit</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 3 new messages
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="{% static 'assets/img/messages-1.jpg' %}" alt="" class="rounded-circle">
                <div>
                  <h4>Maria Hudson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>4 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="{% static 'assets/img/messages-2.jpg' %}" alt="" class="rounded-circle">
                <div>
                  <h4>Anna Nelson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>6 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="{% static 'assets/img/messages-3.jpg' %}" alt="" class="rounded-circle">
                <div>
                  <h4>David Muldon</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>8 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>

          </ul><!-- End Messages Dropdown Items -->

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="#" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2" style="text-transform: capitalize;">{% if profile_data.FullName %}{{profile_data.FullName}}{% else %}Roman{% endif %}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{% if profile_data.FullName %}{{profile_data.FullName}}{% else %}Roman{% endif %}</h6>
              <span>Web Designer</span>
            </li>
            <li>
            
              <hr class="dropdown-divider">
            </li>
          <form method="post" action="{% url update_profile %}">
            {% csrf_token %}
          <div class="col-6 w-auto">
            <div class="form-floating from-check-inner">
            <button type="button" class="btn btn-outline-info" href="{% url My_Profile %}">My Profile</button>
            </div>
          </div>    

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url login_page %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
          </form>
          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="index.html">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Components</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="components-alerts.html">
              <i class="bi bi-circle"></i><span>Alerts</span>
            </a>
          </li>
          <li>
            <a href="components-accordion.html">
              <i class="bi bi-circle"></i><span>Accordion</span>
            </a>
          </li>
          <li>
            <a href="components-badges.html">
              <i class="bi bi-circle"></i><span>Badges</span>
            </a>
          </li>
          <li>
            <a href="components-breadcrumbs.html">
              <i class="bi bi-circle"></i><span>Breadcrumbs</span>
            </a>
          </li>
          <li>
            <a href="components-buttons.html">
              <i class="bi bi-circle"></i><span>Buttons</span>
            </a>
          </li>
          <li>
            <a href="components-cards.html">
              <i class="bi bi-circle"></i><span>Cards</span>
            </a>
          </li>
          <li>
            <a href="components-carousel.html">
              <i class="bi bi-circle"></i><span>Carousel</span>
            </a>
          </li>
          <li>
            <a href="components-list-group.html">
              <i class="bi bi-circle"></i><span>List group</span>
            </a>
          </li>
          <li>
            <a href="components-modal.html">
              <i class="bi bi-circle"></i><span>Modal</span>
            </a>
          </li>
          <li>
            <a href="components-tabs.html">
              <i class="bi bi-circle"></i><span>Tabs</span>
            </a>
          </li>
          <li>
            <a href="components-pagination.html">
              <i class="bi bi-circle"></i><span>Pagination</span>
            </a>
          </li>
          <li>
            <a href="components-progress.html">
              <i class="bi bi-circle"></i><span>Progress</span>
            </a>
          </li>
          <li>
            <a href="components-spinners.html">
              <i class="bi bi-circle"></i><span>Spinners</span>
            </a>
          </li>
          <li>
            <a href="components-tooltips.html">
              <i class="bi bi-circle"></i><span>Tooltips</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Forms</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="forms-elements.html">
              <i class="bi bi-circle"></i><span>Form Elements</span>
            </a>
          </li>
          <li>
            <a href="forms-layouts.html">
              <i class="bi bi-circle"></i><span>Form Layouts</span>
            </a>
          </li>
          <li>
            <a href="forms-editors.html">
              <i class="bi bi-circle"></i><span>Form Editors</span>
            </a>
          </li>
          <li>
            <a href="forms-validation.html">
              <i class="bi bi-circle"></i><span>Form Validation</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Tables</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="tables-general.html">
              <i class="bi bi-circle"></i><span>General Tables</span>
            </a>
          </li>
          <li>
            <a href="tables-data.html">
              <i class="bi bi-circle"></i><span>Data Tables</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>Charts</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="charts-chartjs.html">
              <i class="bi bi-circle"></i><span>Chart.js</span>
            </a>
          </li>
          <li>
            <a href="charts-apexcharts.html">
              <i class="bi bi-circle"></i><span>ApexCharts</span>
            </a>
          </li>
          <li>
            <a href="charts-echarts.html">
              <i class="bi bi-circle"></i><span>ECharts</span>
            </a>
          </li>
        </ul>
      </li><!-- End Charts Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gem"></i><span>Icons</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="icons-bootstrap.html">
              <i class="bi bi-circle"></i><span>Bootstrap Icons</span>
            </a>
          </li>
          <li>
            <a href="icons-remix.html">
              <i class="bi bi-circle"></i><span>Remix Icons</span>
            </a>
          </li>
          <li>
            <a href="icons-boxicons.html">
              <i class="bi bi-circle"></i><span>Boxicons</span>
            </a>
          </li>
        </ul>
      </li><!-- End Icons Nav -->

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link " href="users-profile.html">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-faq.html">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-contact.html">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-register.html">
          <i class="bi bi-card-list"></i>
          <span>Register</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-login.html">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li><!-- End Login Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-error-404.html">
          <i class="bi bi-dash-circle"></i>
          <span>Error 404</span>
        </a>
      </li><!-- End Error 404 Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-blank.html">
          <i class="bi bi-file-earmark"></i>
          <span>Blank</span>
        </a>
      </li><!-- End Blank Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Users</li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              
              <!-- <form method="post" action="{% url 'upload_image' %}" enctype="multipart/form-data" onchange="this.submit();">
                {% csrf_token %}
                <style>
                  .img-controls {
                    position: relative;
                    background-color: aqua;
                    width: 150px;
                    height: 150px;
                  }
                  .img-controls .add-image {
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    left: 0;
                    right: 0;
                    bottom: -12px;
                    margin: auto;
                    text-align: center;
                    font-size: large;
                    opacity: 0;
                    transition: opacity 0.3s;
                  }

                  .img-controls:hover .add-image {
                    opacity: 1;
                  }
                </style>
                
                <div class="img-controls rounded-circle" style="background-image: url(); background-size: cover;">
                  

                  <label class="add-image bg-primary rounded-circle" for="profile_image">
                    <i class="bx bx-plus text-light"></i>
                  </label>
                </div>
                <input type="file" name="profile_image" id="profile_image" class="d-none" accept=".jpg,.png" />
              </form> -->
              
              <style>
                .avatar-block {
                  position: relative;
                  transition: all ease-in-out 0.2s;
                  padding: 0;
                }
                .avatar-block input[type="file"] {
                  display: none;
                }
                .avatar-block[uploaded="false"] .remove-btn,
                .avatar-block[uploaded="true"] .upload-btn {
                  display: none;
                }
                .avatar-block[uploaded="true"] .add-btn {
                  display: none;
                }
                .avatar-block[uploaded="true"] .add-btn {
                  display: block;
                  background-color: #08457e;
                  border: solid 2px #fff;
                  opacity: 1;
                  bottom: -10px;
                  /* transform: scale(0.9); */
                  left: 0;
                  right: 0;
                  width: 25px;
                  height: 25px;
                  /* font-size: large; */
                  margin: auto;
                  padding: 0;
                }
                /* .avatar-block img {
                  box-shadow: 3px 3px 10px #333;
                } */
                /* .avatar-block[uploaded="false"] img {
                  border-radius: unset !important;
                } */
                .avatar-block[uploaded="false"]:hover .add-btn {
                  transform: scale(1.2)
                }
                .avatar-block .add-btn,
                .avatar-block .remove-btn,
                .avatar-block .upload-btn {
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  margin: auto;
                  width: fit-content;
                  opacity: 0;
                  transition: all ease-in-out 0.2s;
                }
                .avatar-block:hover .profile-control {
                  opacity: 1;
                  margin: auto;
                }
                .avatar-block:hover .upload-btn {
                  /* right: 0 !important; */
                  transform: translateX(-50px);
                }
                .avatar-block:hover .remove-btn {
                  transform: translateX(50px);
                }
                .upload-btn * {
                  outline: none !important;
                }
              </style>
              <form class="profile-image-form avatar-block"
                
                onchange="this.submit()"
                method="post"
                action="{% url 'upload_image' %}"
                uploaded="{% if profile_data.ProfileImage != 'avatar.png' %}true{% else %}false{% endif %}"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-sm-10">
                  <input class="form-control" type="file" id="formFile">
                </div>
                
                <div class="img-control">
                  <label for="profileImage" class="col-md-4 col-lg-3 col-form-label w-auto">Profile Image</label>
                  
                  <div class="col-md-8 col-lg-9">
                <input type="file" class="d-nones" id="ProfileImage" name="Profile_Image" accept=".jpg,.png" />
          
                    <img src="{% if profile_data.ProfileImage != '' %}{{profile_data.ProfileImage.url}}{% else %}{% static 'assets/img/avatar.png' %}{% endif %}" alt="Profile" class="rounded-circle">
                    <label for="upload_image" class="profile-control upload-btn btn btn-primary btn-sm rounded-circle" title="Upload new profile image"><i class="bi bi-pencil"></i></label>
                    <label for="upload_image" class="profile-control add-btn btn btn-primary btn-sm rounded-circle" title="Upload new profile image"><i class="bi bi-plus"></i></label>
                    
                  </div>
                </div>
                
              </form>

              <h2 style="text-transform: capitalize;">{% if profile_data.FullName %}{{profile_data.FullName}}{% else %}Guest{% endif %}</h2>
              <h3>{{ profile_data.Master.Email }}</h3>
              <h3>Web Designer</h3>
              <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>
                
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#book-store">Book Store</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>

              </ul>
              <div class="tab-content pt-2">


                <div class="tab-pane fade show active profile-edit pt-3" id="profile-edit">

                  <!-- <div id="div_editor1">
                    <p>This is a default toolbar demo of Rich text editor.</p>
                    <p><img src='/images/editor-image.png' /></p>
                  </div> -->

                  

                  <!-- Profile Edit Form -->
                  <form method="post" class="needs-validation" action="{% url 'update_profile' %}" novalidate>
                    {% csrf_token %}
                    

                    <div class="row mb-3">
                      <div class="col-6">
                        <div class="form-floating">
                          <input type="text" name="first_name" class="form-control" id="firstName" placeholder="FirstName" value="{{profile_data.FirstName}}" required>
                          <label for="firstName">First Name</label>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-floating">
                          <input type="text" name="last_name" class="form-control" id="lastName" placeholder="LastName" value="{{profile_data.LastName}}" required>
                          <label for="lastName">Last Name</label>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        </div>
                      </div>
                    </div>
                    

                    <div class="row mb-3">
                      <fieldset class="col-6 form-floating">
                        <label style="opacity: .65;
                        transform: scale(.85) translateY(-.6rem) translateX(.85rem);
                    ">Gender</label>
                        <div class="form-control">
                          {% for gc in gender_choice %}
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="user_role" id="gridRadios{{gc.text}}" value="{{gc.text}}" checked>
                          <label class="form-check-label" for="gridRadios{{gc.text}}">
                            I'm {{gc.text}}
                          </label>
                        </div>
                        {% endfor %} 
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                          </div>
                      </fieldset>

                      <div class="col-6">
                        <div class="form-floating">
                          <input type="date" class="form-control" id="BirthDate" name="BirthDate" placeholder="BirthDate" value="{{profile_data.BirthDate}}" required>
                          <label for="Birthdate" class="col-md-4 col-lg-3 col-form-label">BirthDate</label>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="row mb-3">
                      <div class="col-6">
                        <div class="form-floating">
                          <input name="mobile" type="text" class="form-control" id="mobile" placeholder="Mobile" value="{{profile_data.Mobile}}" required>
                          <label for="mobile" class="col-md-4 col-lg-3 col-form-label">Mobile</label>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-floating">
                          <input name="pincode" type="text" class="form-control" id="Pincode" placeholder="Pincode" value="{{profile_data.Pincode}}" required>
                          <label for="Pincode" class="col col-form-label">Pincode</label>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-6">
                        <div class="form-floating mb-3">
                          <input name="country" type="text" class="form-control" id="Country" placeholder="Country" value="{{profile_data.Country}}" required>
                          <label for="Country" class="col col-form-label">Country</label>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        </div>

                        <div class="form-floating mb-3">
                          <input name="state" type="text" class="form-control" id="State" placeholder="State" value="{{profile_data.State}}" required>
                          <label for="State" class="col-md-4 col-lg-3 col-form-label">State</label>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        </div>

                        <div class="form-floating mb-3">
                          <input name="city" type="text" class="form-control" id="City" placeholder="Mobile" value="{{profile_data.City}}" required>
                          <label for="City" class="col-md-4 col-lg-3 col-form-label">City</label>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="form-floating mb-3">
                          <textarea class="form-control" name="address" style="resize: none; height: 205px;" id="floatingTextarea" placeholder="Address">{{profile_data.Address}}</textarea>
                          <label for="floatingTextarea">Address</label>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        </div>
                      </div>
                    </div>

                    

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                    
                  </form><!-- End Profile Edit Form -->

                </div>

                <div class="tab-pane fade pt-3" id="book-store">
                  <form method="post" class="needs-validation" novalidate>
                    {% csrf_token %}

                    <div class="row mb-3">
                      <div class="col-4">
                        <div class="form-floating">
                          <input type="text" name="book_title" class="form-control" id="bookTitle" placeholder="Book Title" required>
                          <label for="bookTitle">Book Title</label>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-floating">
                          <input type="text" name="isbn_number" class="form-control" id="isbn" placeholder="ISBN" required>
                          <label for="isbn">ISBN</label>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        </div>
                      </div>
                    
                      <div class="col-4">
                        <div class="form-floating">
                          
                          <select class="form-select" id="category" name="category" aria-label="Category">
                            {% for category in book_categories %}
                            <option value="{{category.id}}">{{category.Name}}</option>
                            {% endfor %}
                          </select>
                          <label for="category" class="col-md-4 col-lg-3 col-form-label w-auto">Category</label>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        </div>
                      </div>
                      
                    </div>

                    <div class="row">
                      

                      <div class="col">
                        <div class="form-floating mb-3">
                          <textarea class="form-control" name="content" style="resize: none; height: 205px;" id="content" placeholder="Content"></textarea>
                          <label for="content">Content</label>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        </div>
                      </div>
                    </div>

                    

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form>
                </div>

                <div class="tab-pane fade pt-3" id="profile-settings">

                  <!-- Settings Form -->
                  <form>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                      <div class="col-md-8 col-lg-9">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="changesMade" checked>
                          <label class="form-check-label" for="changesMade">
                            Changes made to your account
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="newProducts" checked>
                          <label class="form-check-label" for="newProducts">
                            Information on new products and services
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="proOffers">
                          <label class="form-check-label" for="proOffers">
                            Marketing and promo offers
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
                          <label class="form-check-label" for="securityNotify">
                            Security alerts
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End settings Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form method="post" action="{% url 'change_password' %}">
                    {% csrf_token %}
                    <div class="row mb-3">
                      <div class="col-6">
                        <div class="form-floating mb-3">
                          <input name="current_password" type="password" class="form-control" id="current_password" placeholder="Current Password">
                          <label for="current_password" class="col col-form-label">Current Password</label>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-floating mb-3">
                          <input name="new_password" type="password" class="form-control" id="new_password" placeholder="New Password">
                          <label for="new_password" class="col col-form-label">New Password</label>
                        </div>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}

  